.container {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}
    
.box1 {
    background-color: hsl(240, 64%, 72%);
    height: 50px;
    flex-basis: 5%;
    font-size: 1rem;
}
.box2 {
    background-color: rgb(23, 129, 23);
    height: 70px;
    flex-basis: 10%;
    font-size: 2rem;
    
}
.box3 {
    background-color: rgb(71, 71, 15);
    height: 100px;
    flex-basis: 20%;
    font-size: 4rem;
}
.box4 {
    background-color: rgb(237, 38, 38);
    height: 70px;
    flex-basis: 10%;
    font-size: 2rem;

}
.box5 {
    background-color: rgb(103, 99, 99);
    height: 50px;
    flex-basis: 5%;
    font-size: 1rem;
}
.box:hover {
    opacity: 0.6;
}
            